---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Galleries from '../components/Galleries.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import InvestmentGuide from '../components/InvestmentGuide.astro';
import Testimonials from '../components/Testimonials.astro';
import Process from '../components/Process.astro';
import InquiryForm from '../components/InquiryForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main id="main-content">
    <Hero />
    <Galleries />
    <About />
    <Services />
    <InvestmentGuide />
    <Testimonials />
    <Process />
    <InquiryForm />
  </main>
  <Footer />
</Layout>
